.logo {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  opacity: 1;
  margin-left: 130px; }

.rectangle {
  margin-top: 12px;
  height: 250px;
  width: 230px;
  float: left;
  background-color: #D8D8D8;
  opacity: 0.7;
  position: absolute; }

.header {
  margin-top: 7.5px; }

.header-content {
  position: relative; }

.info {
  padding-top: 226px; }

.header-title {
  color: #4A4A4A;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: normal;
  margin-bottom: 15px; }

.header-info {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: normal; }

/* boostrap button code */
.btn, .custom-button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

.btn-success, .custom-button {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

/* end of button code */
.custom-button {
  height: 30px;
  width: 125px;
  border-radius: 5px;
  background-color: #67B600;
  box-shadow: 0 1px 2px 0 #335801;
  float: right;
  margin-top: -35px;
  margin-right: 20px; }

.line {
  background-color: #F5F5F5;
  margin-bottom: 0;
  margin: 0 auto;
  max-width: 1400px; }

.position-fix {
  position: relative; }

.content-block {
  bottom: 0;
  position: absolute; }

.underline {
  margin-left: 290px;
  border: 1px solid #417505; }

#sidebar {
  padding-left: 0;
  margin-bottom: 20px;
  width: 368px; }

#sidebar a {
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 5px;
  height: 40px;
  background-color: #D6D6D6; }

.sale {
  margin-left: 367px; }

.page-name {
  color: #4A4A4A;
  font-size: 24px;
  font-weight: bold; }

.active {
  background-color: #67B600 !important;
  border-color: #67B600 !important; }

.options {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  margin-right: 120px; }

.select-box {
  margin-left: -35px; }

.option-titles {
  float: right; }

.option-titles span:first-child {
  margin-right: 30px; }

.option-titles span:nth-child(2) {
  margin-right: 38px; }

.option-titles span:last-child {
  margin-right: -15px; }

.sale-image {
  margin-bottom: 20px; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .logo {
    margin-left: 0; }
  .mobile {
    display: none; }
  .rectangle {
    height: 158px;
    width: 95%;
    margin-left: -20px; }
  #sidebar {
    width: 300px;
    margin-left: 25px; }
  .info {
    padding-top: 38px;
    margin-bottom: 50px; }
  .underline {
    display: none; }
  .select-box {
    margin-left: 80px; }
  .sale {
    margin-left: 0px; }
  .custom-button {
    height: 30px;
    width: 125px;
    border-radius: 5px;
    background-color: #67B600;
    box-shadow: 0 1px 2px 0 #335801;
    margin-top: 10px;
    position: relative;
    margin-left: 16px;
    float: left; }
  .options {
    width: 100%; }
  .option-titles span:first-child {
    display: none; }
  .option-titles span:nth-child(2) {
    display: none; }
  .option-titles span:last-child {
    display: none; }
  .page-name {
    margin-left: 12px;
    font-size: 15px; }
  header {
    margin-left: 16px; }
  .header-info {
    font-size: 12px; } }
